@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  font-style: normal;
  font-family: 'Roboto', Helvetica, sans-serif;
}

body {
  margin: 0px;
}

.wrapper {
  margin: 0px auto;
  max-width: 1280px;
  padding: 0;
}


/*
  header
*/
p[title='row_one_p'] {
  display: inline;
  margin-right: 25px;
  margin-left: 10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.row__one {
  margin-top: 100px;
}

/*
  main
*/

.row__two {
  display: flex;
  /* flex-direction: column; */
}

.main__row__two_left {
  flex-basis: 50%;
  padding-top: 29px;
}

.main__row__two_right {
  /* display:flex;
  justify-content:flex-end; */

  flex-basis: 50%;
  padding-left: 140px;
  padding-top: 4px;
}

h1[title='two__left_h1'] {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
}

p[title='two__left_p'] {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.row__three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 87.62px;
}





.row__four {
  display: flex;
}

.main__row__two_left {
  flex-basis: 50%;
}

.main__row__two_left {
  flex-basis: 50%;
}
