* {
  box-sizing: border-box;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

.wrapper {
  margin: 0px auto;
  max-width: 1280px;
  padding: 50px 15px;
}

.wrap {
  display: flex;
}

.left {
  flex-basis: 50%;
  margin-right: 15px;
}

.right {
  flex-basis: 50%;
  margin-left: 15px;
}

.card {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  background-color: gray;
  color: blue;
}

.title {
  margin-top: 0px;
  margin-bottom: 30px;
}

.desc {
  margin: 0px;
}

.left__card {
  min-height: 100%;
}

.right__card_top {
  margin-bottom: 30px;
}
/*
img[title='logo'] {
  width: 100%;
  min-width: 22.4px;
  max-width: 112px;
  margin-left: 120px;
}



*/
@media (min-width: 992px) {
  .wrap {
    /* flex-direction: column; */
  }
}