@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

body {
  margin: 0px;
}

.wrapper {
  margin: 0px auto;
  max-width: 1280px;
  padding: 0px 30px 0 30px;
}


.row__one {
  margin-top: 100px;
}

p[title='row_one_p'] {
  display: inline;
  

  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}



/*
  MAIN - ROW 2
*/
.row__two {
  display: flex;
  justify-content: space-between;
  /* padding-top: 129px; */
}

.main__row__two_left {
  flex-basis: 60%;
}

.main__row__two_right {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 141.9px 0 0;

}

img[title='producer'] {
  width: 100%;
  /* padding-top: 42%; */
  /* height: auto; */
}

h1[title='two__left_h1'] {
  /* display: flex; */
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
}

p[title='two__left_p'] {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}


@media  (max-width: 1279px) {
  .wrapper {
    max-width: 992px;
    /* padding: 0px 30px 0 30px; */
  }
  .row__one {
    margin-top: 44.6px;
  }

  p[title='row_one_p'] {
    font-size: 12px;
  }
  .main__row__two_left {
    flex-basis: 36%;
  } 
  
  .main__row__two_right {
    margin: 0 241.9px 0 0;
  } 
  
  p[title='two__left_p'] {
    font-size: 12px;
  }

  h1[title='two__left_h1'] {
    font-size: 46px;
  }

  

}


@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 320px;
  }

  p[title='row_one_p'] {
    font-size: 10px;
  }

  .row__two {
    display: flex;
    flex-direction: column;
  }

  .main__row__two_right {
    margin: 0px;
  }

  p[title='two__left_p'] {
    font-size: 10px;
  }

  h1[title='two__left_h1'] {
    font-size: 37px;
  }

  .main__row__two_right {
    justify-content: flex-end;
  }

   img[title='producer'] {
    width: 60%;
    padding-top: 1%;
  } 
}

